<!-- The Another Solution -->
<div class="my-div">
  <p-table [columns]="columns" [frozenColumns]="frozenColumns" [value]="users" [scrollable]="true" frozenWidth="100px" selectionMode="single">
    <ng-template pTemplate="frozenheader" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{col.header}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="frozenbody" let-rowData let-columns="columns">
      <tr #frozenElRef (mouseenter)="onMouseEnter(frozenElRef)" (mouseleave)="onMouseLeave(frozenElRef)">
        <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{col.header}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr #unfrozenElRef (mouseenter)="onMouseEnter(unfrozenElRef)" (mouseleave)="onMouseLeave(unfrozenElRef)">
        <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
