/* You can add global styles to this file, and also import other style files */
.my-div {
  width: 700px;
  text-align: center;
}

.my-div .ui-table {
  margin-left:50%;
  margin-right: -50%;
}

.ui-table-frozen-view > .ui-table-scrollable-body > table > .ui-table-tbody > tr {
  background-color: #EEE;
}

.ui-table-frozen-view > .ui-table-scrollable-body > table > .ui-table-tbody > tr:hover {
  background-color: transparent;
}

.row-hover{
  cursor: pointer;
  background: #0073ea !important;
  color: #ffffff !important;
}
